<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
   <!-- <add name="MedicalDataManagerDataBaseContainer" connectionString="metadata=res://*/MedicalDataManagerDataBase.csdl|res://*/MedicalDataManagerDataBase.ssdl|res://*/MedicalDataManagerDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JANMOSER1028;initial catalog=MedicalDataManager;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="MedicalDataManagerDataBaseContainer" connectionString="metadata=res://*/MedicalDataManagerDataBase.csdl|res://*/MedicalDataManagerDataBase.ssdl|res://*/MedicalDataManagerDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:medicaldatamanager.database.windows.net,1433;Initial Catalog=MedicalDataManager;Persist Security Info=False;User ID=medicaldatamanager;Password=Welcome$;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>